* {
  /* background-color: blueviolet; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

body,
input,
button,
textarea {
  font: 400 18px Roboto, arial;
}

#store {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(320deg, #96a89b 0%, #7df09d 100%);

  display: flex;
}

.navBar {
  list-style-type: none;
  margin-top: 0;
  height: 50px;
  width: 100vw;
  background: coral;
}

.storeName {
  float: left;
  display: block;
  padding: 14px 16px;
  /* text-align: center; */
}

.author {
  font: 400 14px Roboto, arial;
  float: right;
  display: block;
  padding: 16px 16px;
  /* text-align: center; */
}
