.wrapper {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 150px;
  border: 1px solid lightblue;
  border-radius: 20px;
  height: 400px;
}
